<form action="/prueba" method="post">
  <label for="txtmensaje">Tu Mensaje</label>
  <input type="text" id="txtmensaje" name="txtmensaje"
    value="{{txtmensaje}}" placeholder="Tu Mensaje"
    />
    <br />
    <input type="submit" value="Prueba" id="btnSubmit"
      name="btnSubmit"/>
</form>
<div>
  <ul>
      <li>
        {{msg}}
      </li>

  </ul>

</div>
